<header class="site-header">
  <div class="container row space-between">
    <div id="logo"><h1><a href="/">RAINBOW</a></h1></div>
    <nav>
      <a href="/signin" class="btn btn-secondary btn-small">Sign in</a>
      <a href="/signup" class="btn btn-primary btn-small">Sign up</a>
    </nav>
  </div>
</header>
