<%- include('../partials/nav-loggedin') %>
<%- include('../partials/alerts') %>

<div class="container">
  <h3>Add contact</h3>
  <form action="/contacts/add" method="POST">
    <div class="form-grid">
      <div class="form-col">
        <h5>Name</h5>
        <input type="text" name="fullname" placeholder="Add a name" maxlength="50" />
        <h5>Phone</h5>
        <input type="text" name="phone" placeholder="Add a phone number" maxlength="20" />
        <h5>Email</h5>
        <input type="text" name="email" placeholder="Add an email" maxlength="50" />
        <h5>Address</h5>
        <input type="text" name="address" placeholder="Add an address" />
      </div>
      <div class="form-col">
        <h5>Company</h5>
        <input type="text" name="company" placeholder="Add a Company" maxlength="100" />
        <h5>Job Title</h5>
        <input type="text" name="jobtitle" placeholder="Add a Job Title" maxlength="100" />
        <h5>Website</h5>
        <label class="small-label">Format: http://example.com (no www)</label>
        <input type="text" name="website" placeholder="Add a Website" maxlength="100" />
        <div class="form-actions">
          <input type="submit" value="ADD" class="btn btn-primary" />
          <a href="/contacts" class="btn btn-secondary">CANCEL</a>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
