body {
  font-family: Arial;
  margin: 40px;
  background: #f2f2f2;
}

h1 {
  text-align: center;
}

.form-container {
  padding: 20px;
  background: white;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input {
  margin: 10px 0;
  width: 90%;
  padding: 8px;
}

button {
  padding: 10px;
  width: 100%;
  background: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}

#weatherList {
  margin-top: 20px;
}
