<%- include('../partials/nav-loggedin') %>
<%- include('../partials/alerts') %>

<div class="container">
  <div class="form-card">
    <h3>Change Your Password</h3>
    <form action="/settings/change-password" method="POST">
      <fieldset>
        <input type="password" name="password1" maxlength="20" placeholder="New password" />
        <input type="password" name="password2" maxlength="20" placeholder="Confirm new password" />
      </fieldset>
      <input type="submit" value="Change My Password" class="btn btn-primary" />
    </form>
    <a href="/settings" class="btn btn-secondary">Back to Settings</a>
  </div>
</div>

<%- include('../partials/footer') %>
